.sideBar{
    /* position: fixed !important;     Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    height: 100% !important;
    width: 75px !important;    /* Set the width of the sidebar*/
    z-index: 1 !important;      /* Stay on top of everything */
    background-color: rgb(39, 37, 37); /* Black */
    overflow-x: hidden;     /* Disable horizontal scroll */
    padding-top: 10px;
}

@media(max-width: 600px) {
    .sideBar{
        margin-top: 4rem !important;
        height: 75px !important;
        width: 100% !important;    /* Set the width of the sidebar*/
        z-index: 1 !important;      /* Stay on top of everything */
        background-color: rgb(39, 37, 37); /* Black */
        overflow-y: hidden;     /* Disable horizontal scroll */
        padding-top: 10px;
    }

}


.dropdown-menu{
    z-index: 1000 !important;
}

#viewSettingsPopoverList, #communitySettingsPopoverList {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

#viewTypeContent {
  padding: 0;
}

#viewTypeContent > .row, #viewTypeContent > .row > .col {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#viewTypeContent > .row > .col > button  {
  width: 100%;
  border-radius: 0;
  background-color: #ebebeb;
  border-color: #ebebeb;
  color: #2d5085;
}

#viewTypeContent > .row > .col > .activeView  {
  width: 100%;
  border-radius: 0;
  background-color: #2d5085;
  border-color: #2d5085;
  color: white !important;
  box-shadow: none;
}

#viewTypeContent > .row > .col:first-child {
  border-right: 1px solid #ebebeb;
}

#viewSettingsPopoverList > li > input[type='checkbox'], #communitySettingsPopoverList > li > input[type='checkbox'] {
  float: right;
}

#viewSettingsReset {
  margin-top: 3px;
  margin-left: 3px;
  border: 1px solid #212529;;
  border-radius: 4px;
  padding: 2px;
}

#viewSettingsReset > i {
  color: #212529;
}

#viewSettingsReset:hover {
  cursor: pointer;
}

.v-scroll{
    height: 86vh !important;
    overflow-y: scroll !important;
}

.v-scroll-mobile{
    height: 40vh !important;
    overflow-y: scroll !important;
}

.mrg-1-min{
    margin-top: -1rem !important;
}

.pd-2-right{
    padding-right: 2rem !important;
}

.scaffold-text{
    color: rgb(233, 174, 66) !important;
    font-weight: bold;
    width: 280px !important;
    padding: 0.25rem !important;
    border: solid;
    border-color: rgb(233, 174, 66);
    border-radius: 1rem !important;
    margin-bottom: 1rem !important;
    list-style: none !important;
}

.white{
    color: white !important;
}

.pd-left{
    padding-left : -2px !important;
}

.dropright .dropdown-toggle::after{
    display: none;
}

.dropright .dropdown-toggle{
    border-radius: 50%;
    margin-bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.circle-button{
    border-radius: 50%;
    margin-bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);

}

.pad {
    padding-top: 12px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
