#sticky-sidebar{
    padding-top: 1rem;
    flex: 0 0 4%;
    max-width: 4%;
}
#main-canvas{
    flex: 0 0 96%;
    max-width: 96%;
}

.view-dashboard-return-button {
  margin: 15px;
  padding: 5px;
  font-size: 0.75rem;
  background-color: #203c66;
  float: right;
}
