.viewNavBar{
  width: 100%;
  background-color: #2d5085;
}

.viewNavBar-brand{
  color: white !important;
}

.viewNavBar-dropdown-title {
  color: white !important;
  font-weight: 400;
  font-size: 14px;
  margin-right: 5px;
  padding-top: .325rem;
  padding-bottom: .3125rem;
}

.viewNavBar-dropdown {
  margin-right: 10px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.viewNavBar-dropdown-formgroup {
  margin-bottom: 0;
  font-size: 14px;
  display: inline-block;
}

.viewNavBar-dropdown-formgroup > .form-control {
  padding: 0;
}

.viewNavBar-logout-btn {
  color: white;
  border-color: white;
  background-color: #2d5085;
}

.viewNavBar-logout-btn:hover {
  border-color: white;
  background-color: #5d98f0;
}

#sticky-sidebar{
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

@media(min-width: 768px) {
    #sticky-sidebar{
        max-width: fit-content;
    }
}


@media(max-width: 768px) {
    #sticky-sidebar{
        padding-top: 10px;
        width: 100% !important;    /* Set the width of the sidebar*/
        overflow-y: hidden;     /* Disable horizontal scroll */
    }
}

.dropright .dropdown-toggle{
    border-radius: 50%;
    margin-bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

.sidebar-list {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

@media(min-width: 768px) {
    .sidebar-list {
        display: inline-block;
    }
}

.sidebar-list-col {

}

@media(max-width: 768px) {
    .sidebar-list-col {
        text-align: center;
    }
}

.sidebar-btn, .dropdown-btn-parent > button {
  color: #2d5085;
  border-color: #2d5085;
  background-color: white;
}

.sidebar-btn:hover, .dropdown-btn-parent > button:hover {
  background-color: #5d98f0;
  cursor: pointer;
}

#main-canvas{
    padding-left: 0;
    padding-right: 0;
}
